# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/pulse-server/build.gradle.kts
/pulse-server/src/minecraft
/pulse-api/build.gradle.kts
upstream

.idea/*

# Colors for the /upstream folder
!.idea/scopes/
!.idea/fileColors.xml
!.idea/scopes/**